.landing {
  box-sizing: border-box;
  display: grid;
  background-color: #000;
  overflow: hidden;
}
.landing__header {
  width: 100vw;
  height: 100vh;
}
.landing__header__title {
  display: grid;
  width: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.landing__header__title__nameCompany {
  font-size: 1rem;
  color: #bdbdbd;
}
.landing__header__title__nameCompany__capitalLetter {
  color: #ed1b24;
}
.landing__header__title__nameProject {
  font-size: 3rem;
  color: #bdbdbd;
}
.landing__header__title__button {
  font-size: 1.25rem;
  border: none;
  height: 2rem;
  border-radius: 12px 0;
  background-color: #ed1b24;
  color: #fefddf;
  background-color: #ed1b24;
  cursor: pointer;
}
.landing__header__MaskGroup {
  position: absolute;
  right: 0%;
  width: 13rem;
  height: 100vh;
  pointer-events: none;
}
.landing__header__pattern {
  width: 15rem;
  height: 3rem;
  left: 10%;
  top: 10%;
  position: absolute;
  pointer-events: none;
}
.landing__header__x {
  left: 5%;
  top: 80%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  cursor: pointer;
}
.landing__about {
  width: 100vw;
  height: 100vh;
}
.landing__about__blokContext {
  display: grid;
  position: absolute;
  top: 130%;
  left: 50%;
  gap: 5rem;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
}
.landing__about__blokContext__title {
  font-size: 2rem;
  color: #fefddf;
}
.landing__about__blokContext__line {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 1rem;
  pointer-events: none;
}
.landing__about__blokContext__text {
  font-size: 1.8rem;
  color: #fff;
}
.landing__about__mask {
  position: absolute;
  left: 0%;
  width: 40rem;
  height: 90vh;
  pointer-events: none;
  overflow: hidden;
}
.landing__castleBlock {
  width: 100vw;
  height: 100vh;
}
.landing__castleBlock__blokContext {
  display: grid;
  position: absolute;
  top: 230%;
  left: 50%;
  gap: 5rem;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
}
.landing__castleBlock__blokContext__title {
  font-size: 2rem;
  color: #fefddf;
}
.landing__castleBlock__blokContext__line {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 1rem;
  pointer-events: none;
}
.landing__castleBlock__blokContext__grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 13rem);
  gap: 50px;
  justify-content: center;
}
.landing__castleBlock__blokContext__grid__imgBlock {
  display: grid;
  gap: 1rem;
}
.landing__castleBlock__blokContext__grid__imgBlock__img {
  width: 13rem;
  height: 13rem;
  cursor: pointer;
}
.landing__castleBlock__blokContext__grid__imgBlock__text {
  color: #fefddf;
  font-size: 1.5rem;
  pointer-events: none;
}
.landing__castleBlock__blokContext__grid__imgBlock__img:hover + .landing__castleBlock__blokContext__grid__imgBlock__text {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  left: 50%;
  width: 5rem;
  border-bottom: 1px solid red;
}
.landing__castleBlock__blokContext__grid__imgBlock__img:hover {
  box-shadow: 0px 0px 2rem 1rem rgba(255, 0, 0, 0.4);
}
.landing__other {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.landing__other__blokContext {
  display: grid;
  position: absolute;
  top: 330%;
  left: 50%;
  gap: 3rem;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
}
.landing__other__blokContext__title {
  font-size: 2rem;
  color: #fefddf;
}
.landing__other__blokContext__line {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 1rem;
  pointer-events: none;
}
.landing__other__blokContext__section {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 10rem);
  gap: 50px;
  justify-content: center;
}
.landing__other__blokContext__p {
  min-height: 3rem;
  color: red;
}

.button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  margin-right: 1rem;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  cursor: not-allowed;
}

.button.active {
  background: #3e6ae1;
  color: #fff;
}

@media (max-width: 1550px) {
  .landing__about__mask {
    width: 30rem;
  }
}
@media (max-width: 1200px) {
  .landing__about__mask {
    width: 20rem;
  }
}
@media (max-width: 680px) {
  .landing__header__MaskGroup {
    width: 10rem;
  }
  .landing__about__mask {
    width: 15rem;
  }
  .landing__castleBlock__blokContext__grid {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 15rem);
    gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 595px) {
  .landing__header__MaskGroup {
    width: 7rem;
  }
  .landing__about__mask {
    display: none;
  }
  .landing__other__blokContext__section {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 10rem);
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .landing__header__MaskGroup {
    width: 5rem;
  }
  .landing__castleBlock__blokContext__grid {
    margin-top: 3rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 13rem);
    gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 360px) {
  .landing__header__MaskGroup {
    display: none;
  }
}/*# sourceMappingURL=landing.css.map */