$bgColor: #000;
$titleTextColor: #bdbdbd;
$aboutTitleTextColor: #fefddf;
$aboutTextColor: #fff;
$titleCapitalletterTextColor: #ed1b24;
$bgButtonColor: #ed1b24;
$textButtonColor: #fefddf;

$textSizeProject: 1rem;
$textSizeCompany: 3rem;
$textSizeButton: 1.25rem;
$textSizeTitle: 2rem;
$textSizeAbout: 1.8rem;

.landing {
    box-sizing: border-box;
    display: grid;
    background-color: $bgColor;
    overflow: hidden;
    &__header {
        width: 100vw;
        height: 100vh;
        &__title {
            display: grid;
            width: 25rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 3.2rem;
            &__nameCompany {
                font-size: $textSizeProject;
                color: $titleTextColor;
                &__capitalLetter {
                    color: $titleCapitalletterTextColor;
                }
            }
            &__nameProject {
                font-size: $textSizeCompany;
                color: $titleTextColor;
            }
            &__button {
                font-size: $textSizeButton;
                border: none;
                height: 2rem;
                border-radius: 12px 0;
                background-color: $bgButtonColor;
                color: $textButtonColor;
                background-color: $bgButtonColor;
                cursor: pointer;
            }
        }
        &__MaskGroup {
            position: absolute;
            right: 0%;
            width: 13rem;
            height: 100vh;
            pointer-events: none;
        }
        &__pattern {
            width: 15rem;
            height: 3rem;
            left: 10%;
            top: 10%;
            position: absolute;
            pointer-events: none;
        }
        &__x {
            left: 5%;
            top: 80%;
            width: 3rem;
            height: 3rem;
            position: absolute;
            cursor: pointer;
        }
    }
    &__about {
        width: 100vw;
        height: 100vh;
        &__blokContext {
            display: grid;
            position: absolute;
            top: 130%;
            left: 50%;
            gap: 5rem;
            transform: translate(-50%, -50%);
            align-items: center;
            text-align: center;
            &__title {
                font-size: $textSizeTitle;
                color: $aboutTitleTextColor;
            }
            &__line {
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20rem;
                height: 1rem;
                pointer-events: none;
            }
            &__text {
                font-size: $textSizeAbout;
                color: $aboutTextColor;
            }
        }
        &__mask {
            position: absolute;
            left: 0%;
            width: 40rem;
            height: 90vh;
            pointer-events: none;
            overflow: hidden;
        }
    }
}

@media (max-width: 1550px) {
    .landing {
        &__about {
            &__mask {
                width: 30rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .landing {
        &__about {
            &__mask {
                width: 20rem;
            }
        }
    }
}

@media (max-width: 680px) {
    .landing {
        &__header {
            &__MaskGroup {
                width: 10rem;
            }
        }
        &__about {
            &__mask {
                width: 15rem;
            }
        }
    }
}

@media (max-width: 595px) {
    .landing {
        &__header {
            &__MaskGroup {
                width: 7rem;
            }
        }
        &__about {
            &__mask {
                display: none;
            }
        }
    }
}

@media (max-width: 400px) {
    .landing {
        &__header {
            &__MaskGroup {
                width: 5rem;
            }
        }
    }
}

@media (max-width: 360px) {
    .landing {
        &__header {
            &__MaskGroup {
                display: none;
            }
        }
    }
}
