$bgColor: #000;
$titleTextColor: #bdbdbd;
$aboutTitleTextColor: #fefddf;
$aboutTextColor: #fff;
$titleCapitalletterTextColor: #ed1b24;
$bgButtonColor: #ed1b24;
$textButtonColor: #fefddf;
$textNameCastleColor: #fefddf;

$textSizeProject: 1rem;
$textSizeCompany: 3rem;
$textSizeButton: 1.25rem;
$textSizeTitle: 2rem;
$textSizeAbout: 1.8rem;
$textSizeNameCastle: 1.5rem;

.landing {
    box-sizing: border-box;
    display: grid;
    background-color: $bgColor;
    overflow: hidden;
    &__header {
        width: 100vw;
        height: 100vh;
        &__title {
            display: grid;
            width: 25rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 3.2rem;
            &__nameCompany {
                font-size: $textSizeProject;
                color: $titleTextColor;
                &__capitalLetter {
                    color: $titleCapitalletterTextColor;
                }
            }
            &__nameProject {
                font-size: $textSizeCompany;
                color: $titleTextColor;
            }
            &__button {
                font-size: $textSizeButton;
                border: none;
                height: 2rem;
                border-radius: 12px 0;
                background-color: $bgButtonColor;
                color: $textButtonColor;
                background-color: $bgButtonColor;
                cursor: pointer;
            }
        }
        &__MaskGroup {
            position: absolute;
            right: 0%;
            width: 13rem;
            height: 100vh;
            pointer-events: none;
        }
        &__pattern {
            width: 15rem;
            height: 3rem;
            left: 10%;
            top: 10%;
            position: absolute;
            pointer-events: none;
        }
        &__x {
            left: 5%;
            top: 80%;
            width: 3rem;
            height: 3rem;
            position: absolute;
            cursor: pointer;
        }
    }
    &__about {
        width: 100vw;
        height: 100vh;
        &__blokContext {
            display: grid;
            position: absolute;
            top: 130%;
            left: 50%;
            gap: 5rem;
            transform: translate(-50%, -50%);
            align-items: center;
            text-align: center;
            &__title {
                font-size: $textSizeTitle;
                color: $aboutTitleTextColor;
            }
            &__line {
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20rem;
                height: 1rem;
                pointer-events: none;
            }
            &__text {
                font-size: $textSizeAbout;
                color: $aboutTextColor;
            }
        }
        &__mask {
            position: absolute;
            left: 0%;
            width: 40rem;
            height: 90vh;
            pointer-events: none;
            overflow: hidden;
        }
    }
    &__castleBlock {
        width: 100vw;
        height: 100vh;
        &__blokContext {
            display: grid;
            position: absolute;
            top: 230%;
            left: 50%;
            gap: 5rem;
            transform: translate(-50%, -50%);
            align-items: center;
            text-align: center;
            &__title {
                font-size: $textSizeTitle;
                color: $aboutTitleTextColor;
            }
            &__line {
                position: absolute;
                top: 15%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20rem;
                height: 1rem;
                pointer-events: none;
            }
            &__grid {
                display: grid;
                flex-wrap: wrap;
                grid-template-columns: repeat(3, 13rem);
                gap: 50px;
                justify-content: center;
                &__imgBlock {
                    display: grid;
                    gap: 1rem;
                    &__img {
                        width: 13rem;
                        height: 13rem;
                        cursor: pointer;
                    }
                    &__text {
                        color: $textNameCastleColor;
                        font-size: $textSizeNameCastle;
                        pointer-events: none;
                    }
                    &__img:hover + &__text {
                        box-sizing: border-box;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        display: flex;
                        left: 50%;
                        width: 5rem;
                        border-bottom: 1px solid red;
                    }
                    &__img:hover {
                        box-shadow: 0px 0px 2rem 1rem rgba(255, 0, 0, 0.4);
                    }
                }
            }
        }
    }
    &__other {
        display: flex;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        &__blokContext {
            display: grid;
            position: absolute;
            top: 330%;
            left: 50%;
            gap: 3rem;
            transform: translate(-50%, -50%);
            align-items: center;
            text-align: center;
            &__title {
                font-size: $textSizeTitle;
                color: $aboutTitleTextColor;
            }
            &__line {
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20rem;
                height: 1rem;
                pointer-events: none;
            }
            &__section {
                display: grid;
                flex-wrap: wrap;
                grid-template-columns: repeat(3, 10rem);
                gap: 50px;
                justify-content: center;
            }
            &__p {
                min-height: 3rem;
                color: red;
            }
        }
    }
}

.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
}

.button:hover {
    opacity: 0.8;
}

.button:disabled {
    cursor: not-allowed;
}

.button.active {
    background: #3e6ae1;
    color: #fff;
}

@media (max-width: 1550px) {
    .landing {
        &__about {
            &__mask {
                width: 30rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .landing {
        &__about {
            &__mask {
                width: 20rem;
            }
        }
    }
}

@media (max-width: 680px) {
    .landing {
        &__header {
            &__MaskGroup {
                width: 10rem;
            }
        }
        &__about {
            &__mask {
                width: 15rem;
            }
        }
        &__castleBlock {
            &__blokContext {
                &__grid {
                    display: grid;
                    flex-wrap: wrap;
                    grid-template-columns: repeat(2, 15rem);
                    gap: 20px;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 595px) {
    .landing {
        &__header {
            &__MaskGroup {
                width: 7rem;
            }
        }
        &__about {
            &__mask {
                display: none;
            }
        }
        &__other {
            &__blokContext {
                &__section {
                    display: grid;
                    flex-wrap: wrap;
                    grid-template-columns: repeat(2, 10rem);
                    gap: 30px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .landing {
        &__header {
            &__MaskGroup {
                width: 5rem;
            }
        }
        &__castleBlock {
            &__blokContext {
                &__grid {
                    margin-top: 3rem;
                    display: grid;
                    flex-wrap: wrap;
                    grid-template-columns: repeat(1, 13rem);
                    gap: 20px;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .landing {
        &__header {
            &__MaskGroup {
                display: none;
            }
        }
    }
}
