$bgColor: #000;
$titleTextColor: #bdbdbd;
$aboutTitleTextColor: #fefddf;
$aboutTextColor: #fff;
$titleCapitalletterTextColor: #ed1b24;
$bgButtonColor: #ed1b24;
$textButtonColor: #fefddf;
$textNameCastleColor: #fefddf;
$bordercolor: #fdf5f5;

$textSizeProject: 1rem;
$textSizeCompany: 3rem;
$textSizeButton: 1.25rem;
$textSizeTitle: 2rem;
$textSizeAbout: 1.8rem;
$textSizeNameCastle: 1.5rem;

.castle {
    box-sizing: border-box;
    display: grid;
    background-color: $bgColor;
    overflow: hidden;
    height: 80rem;
    &__header {
        &__blockText {
            margin-top: 10vh;
            margin-left: 10%;
            width: 80vw;
            display: flex;
            justify-content: space-between;
            &__nameCompany {
                text-align: center;
                font-size: $textSizeProject;
                color: $titleTextColor;
                &__capitalLetter {
                    color: $titleCapitalletterTextColor;
                }
            }
            &__button {
                display: flex;
                background-color: $bgButtonColor;
                color: $textButtonColor;
                font-size: $textSizeProject;
                text-align: center;
                border-radius: 1rem;
                align-items: center;
                cursor: pointer;
                transition: 0.5s;
                &__text {
                    margin: 0.5rem 1rem;
                }
            }
            &__button:hover {
                box-shadow: 0px 0px 6rem 2rem rgba(255, 150, 150, 0.4);
            }
        }
    }
    &__nameBlock {
        z-index: 2;
        display: grid;
        position: absolute;
        top: 40%;
        left: 50%;
        gap: 1rem;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        text-align: center;
        &__nameCastle {
            color: $textNameCastleColor;
            font-size: $textSizeTitle;
        }
        &__castleImg {
            width: 15rem;
            height: 15rem;
            pointer-events: none;
        }
    }
    &__description {
        z-index: 1;
        width: 60vw;
        min-height: 10vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 20%;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 1rem;
        border: 1px solid $bordercolor;
        box-shadow: inset 0px 1rem 5rem 1px rgba(253, 245, 245, 0.2);
        &__title {
            margin-top: 5rem;
            color: $textNameCastleColor;
            font-size: $textSizeTitle;
        }
        &__generalDescription {
            border-radius: 1rem;
            color: $textNameCastleColor;
            width: 40vw;
            background-color: rgba($color: #464b50, $alpha: 0.3);
            display: grid;
            gap: 2rem;
            margin-bottom: 1rem;
            &__title {
                margin-top: 1rem;
                font-size: 2rem;
            }
            &__ul {
                width: 25vw;
                margin-left: 2rem;
                text-align: left;
                display: grid;
                gap: 1rem;
                margin-bottom: 1rem;
                &__li {
                    &__ul {
                        width: 25vw;
                        margin-left: 5rem;
                        text-align: left;
                        display: grid;
                        margin-bottom: 1rem;
                        &__li {
                            color: #bdbdbd;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.imgRight {
    height: 25rem;
    width: 6rem;
    display: grid;
    position: absolute;
    top: 40%;
    left: 0%;
}
.imgLeft {
    height: 25rem;
    width: 7rem;
    display: grid;
    position: absolute;
    top: 40%;
    right: 0%;
}
.imgBottom {
    height: 3rem;
    width: 3rem;
    display: grid;
    position: absolute;
    top: 75rem;
    left: 10%;
    cursor: pointer;
}

@media (max-width: 370px) {
    .imgRight {
        display: none;
    }
    .imgLeft {
        display: none;
    }
}
